
body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    background-color: rgb(89, 108, 61);
    font-family: 'Titillium Web', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    font-family: Tangerine;
    text-align: center;
    padding: 5px;
    margin-top: 25px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}

footer {
    position: fixed;
    width: 100%;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: rgba(224, 211, 64, 0.262);
    font-size: 1rem;
    bottom: 0;
    padding-right: 5px;
}

#something {
    background-image: url('../assets/MAP.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    position: static;
}
/* Crossroads */
li:nth-child(1) {
    background-color: rgba(127, 165, 12, 0.673);
    position: relative;
    top: 20px;
    left: 350px;
}
/* Bar fight */
li:nth-child(2) {
    background-color: rgba(169, 133, 102, 0.879);
    position: fixed;
    top: 700px;
    right: 100px;
}
/* Healing */
li:nth-child(3) {
    background-color: rgba(134, 110, 254, 0.708);
    position: relative;
    top: 450px;
    right: 250px;
}
/* Redcaps */
li:nth-child(4) {
    background-color: rgba(233, 13, 49, 0.66);
    position: static;
    top: 600px;
    right: 50px;
}

/*Go looking for trouble*/
#monsta-button {
    color:rgb(32, 0, 191);
    background-color: rgba(0, 255, 255, 0.639);
    display: inline-flex;
    font-family: 'Charm', cursive;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 7px double goldenrod;
    border-radius: 30px;
    width: max-content;
    position: relative;
    right: 250px;
}

li {
    display: inline-flex;
    font-family: 'Charm', cursive;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 7px double goldenrod;
    border-radius: 30px;
    width: max-content;
    grid-template-columns: repeat 8;
    gap: 10px;
}

a {
    text-decoration: none;
}

#final {
    color:rgb(255, 255, 255);
    background-color: rgba(87, 15, 15, 0.639);
    font-family: 'Charm', cursive;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: 7px double goldenrod;
    border-radius: 30px;
    width: max-content;
    position: relative;
    top: 60px;
    left: 10px;
}

.hidden {
    display: none;
}

.munge {
    display: flex;
    justify-content: center;
    border-top: solid 15px #3f6a16;
    background-color: #d5a3385f;
    color:rgb(34, 6, 99);
    text-shadow: 2px 2px 5px rgb(16, 2, 57);
    font-size: 1.8rem;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

.munge p:nth-child(1) {
    animation: 5s slide-right;
}
.munge p:nth-child(2) {
    animation: 5s slide-right;
}
.munge p:nth-child(3) {
    animation: 5s slide-right;
}
.munge p:nth-child(4) {
    animation: 5s slide-right;
}
.munge p:nth-child(5) {
    animation: 5s slide-right;
}

@keyframes slide-right {
    from {
    transform: translate3d(1200%, 0, 0);
    visibility: visible;
    }

    to {
    transform: translate3d(0, 0, 0);
    }
}