header {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 10px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quest3 .main-section{
    display: flex;
    max-width: auto;
    max-height: auto;
    background-image: url("https://i.pinimg.com/originals/85/5b/20/855b20ebdd66c1793456b4e685623e0d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    align-items: center;
    color: rgb(84, 13, 0);
}

.quest3 img {
    width: 600px;
    height: 400px;
}
.quest3 h1{
    font-size: 40px;
    font-family: 'Eagle Lake', cursive;
    color:rgb(6, 105, 39);
    opacity: 0.8;
    border-radius: 50px;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #d6a64e, 0 0 40px #e49236, 0 0 50px #e66224, 0 0 60px #ee371e, 0 0 70px #c70606;
    }
    to {
    text-shadow: 0 0 20px #c70606, 0 0 30px #ee371e, 0 0 40px #e66224, 0 0 50px #e49236, 0 0 60p#d6a64e, 0 0 70px #fff, 0 0 80px rgb(230, 118, 74);
    }
}

.quest3 p{
    text-align: center;
    font-size: 25px;
    font-family: 'Eagle Lake', cursive;
    color:rgb(84, 13, 0);
    background-image: url('../assets/parchment.png');
    background-repeat: repeat-x;
    background-size: 100%;
    background-position-y: -50px;
    border-radius: 30px;
}

.quest3 form {
    display: flex;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    background-image: url('../assets/parchment.png');
    background-position-y: -15px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.quest3 form button {
    padding: 10px;
    max-width: fit-content;
    align-self: center;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
    background-color: slategray;
}

.quest4 img {
    min-height: 500px;
    margin: 10px;
    border-radius: 30px;
}

.quest4 h1 {
    font-size: 50px;
    font-family: 'Eagle Lake', cursive;
    color:rgb(84, 13, 0);
}

.quest4 p {
    display: flex;
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
    background-color: rgba(106, 76, 71, 0.29);
    border-radius: 40px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 10px double maroon;
}

.quest4 main {
    display: flex;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    background-color: rgba(104, 70, 64, 0.276);
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.quest4 form {
    display: flex;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    background-color: rgba(108, 50, 40, 0.276);
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

form button {
    padding: 10px;
    max-width: fit-content;
    align-self: center;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1.25rem;
}
